.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 70px 134px;
  min-height: 100vh;
  min-width: 100vh;
  grid-template-areas:
    "header header header"
    "main main main"
    ". card-title ."
    "footer footer footer";

  & header {
    grid-area: header;
    display: grid;
    align-items: center;
  }

  &__logo {
    grid-column: 1;
    margin-left: 60px;
  }

  &__title {
    grid-column: 2;
    justify-self: center;
  }

  &__button-reveal{
    font-size: 15px;
    font-weight: bolder;
    border: none;
    width: 168px;
    height: 40px;
    border-radius: 100px;
    color: white;
    background-color: #6429cd;
  }

  &__user {
    grid-column: 3;
    justify-self: center;

    &-invite {
      height: 39px;
      width: 154px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 59px;
      background: none;
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 700;
    }
  }

  & main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3, minmax(140px, auto));
    grid-template-rows: repeat(3, minmax(101px, auto));
    justify-content: center;
    align-items: center;
    grid-template-areas:
      ". topChairs ."
      "leftChair desk rigthChair"
      ". bottonChairs .";
    justify-items: center;
  }

  &__topChairs {
    grid-area: topChairs;
    align-self: center;
  }

  &__leftChair {
    grid-area: leftChair;
  }

  &__rigthChair {
    grid-area: rigthChairr;
  }

  &__bottonChairs {
    grid-area: bottonChairs;
  }

  &__desk {
    grid-area: desk;
    border-radius: 261px;
    box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
    margin: auto;
    border: 2px solid #7443d6;
    width: 603px;
    height: 345px;
  }

  &__desk2 {
    grid-area: desk;
    border-radius: 261px;
    box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
    margin: auto;
    border: 2px solid #947ae8;
    width: 555px;
    height: 298px;
  }

  &__desk3 {
    display: grid;
    grid-area: desk;
    border-radius: 261px;
    box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
    margin: auto;
    border: 1px solid #6429cd;
    width: 521px;
    height: 272px;
    align-content: center;
    justify-content: center;
  }

  & footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: row;
    text-align: center;
  }

  @mixin __cards {
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 86px;
    border: 2px solid #7443d6;
    background-color: #1f1138;
    box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
}

&__cards {
    @include __cards;

    &-vote {
      &--voted{
        background-color: #e4a4ff;
        transform: translateY(-8px);
        border: none;
        color: #330072;
      }
        @include __cards;
        transition: background-color 0.5s, transform 0.5s;

        &:hover {
          cursor: pointer;
          border: none;
          background-color: #e4a4ff;
          color: #330072;
          transform: translateY(-8px);
        }
    }

    &-title {
      grid-area: card-title;
      text-align: center;
    }

    &-average {
      grid-column: 3;
      grid-row: 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 100%;
    }
  }
}
