.card {
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__player {
    width: 35px;
    height: 60px;
    border: 2px solid #bc91ff;
    border-radius: 7px;
  }

  &__spectator {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background-color: #bdbdff;
    justify-content: center;
    align-items: center;
    color: #330072;
    font-weight: bolder;
  }

}
