.card {
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__player {
    display: flex;
    width: 35px;
    height: 60px;
    border: 2px solid #bc91ff;
    border-radius: 7px;
    transition: background-color 0.5s;
    justify-content: center;
    align-items: center;
  }

  &__playerVote {
    width: 35px;
    height: 60px;
    border-radius: 7px;
    background-color: #bb65ff;
    transition: background-color 0.5s;
  }

  &__spectator {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background-color: #bdbdff;
    justify-content: center;
    align-items: center;
    color: #330072;
    font-weight: bolder;

    &-size {
      width: 36px;
      height: 36px;
      cursor: pointer;
      transition: box-shadow 0.5s ease;

    &:hover {
      box-shadow: 0 0 10px 0 #bdbdff;
    }
    }
  }

  &-admin {
    gap: 8px;
    display: flex;
    align-items: center;
  }
}
