body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: radial-gradient(circle, #31006e, #1f1235);
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.upper-container {
  display: flex;
  align-items: center;
}

.party-logo {
  margin-left: 80px;
  margin-top: 35px;
}

.global__input {
  border: 1px solid var(--secondary-30-purple-secondary-purple-300, #BB65FF);
  background: var(--Opacity-Primary-purple-500-Opacity-100, rgba(100, 41, 205, 0.08));
  color: var(--Shades-White-50, #FFF);
  padding-left: 15px;
  font-size: 14px;
  height: 40px;
  border-radius: 100px;
  width: 292px;
  margin-top: 10px;
}

.global__button{
  height: 40px;
  border-radius: 100px;
  border: none;
  background: #ffffff;
  color: #330072;
  font-size: 14px;
  font-weight: 700;
}

