.party-container {
  display: flex;
  flex-direction: column;
  width: 514px;
  height: 294px;
  padding: 20px;
  text-align: center;
  position: absolute;
  inset: 0;
  margin: auto;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #1f0d3f;
  justify-content: center;
  z-index: 4;
}

.glowing-border {
  border: 1px solid #bb6dff;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
}

.user-container__title-h3 {
  margin-right: 220px;
  margin-bottom: 0px;
}

.user-container__button {
  margin-top: 25px;
  width: 131px;
  cursor: pointer;
}

.my-radio-input {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ba64fd;
  background-color: #331569;
  border-radius: 100%;
  cursor: pointer;
  transition: border-color 0.3s ease;
  position: relative;
  margin-left: 10px;

  &:checked:before {
    content: "";
    width: 50%;
    height: 50%;
    background-color: #ba64fd;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.poker-radio_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.validate-message {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: initial;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  z-index: 4;
}

.poker-button__disabled {
  opacity: 0.5;
  cursor: unset;
}

.test {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(6px);
  background-color: rgb(0 0 0 / 43%);
  z-index: 3;
}

.test2 {
  border: 1px solid #bb6dff;
  border-radius: 261px;
  box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 328px;
  padding: 20px;
  text-align: center;
  position: absolute;
  inset: 0;
  margin: auto;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
