.container-party {
  display: flex;
  flex-direction: column;
  width: 514px;
  height: 294px;
  padding: 20px;
  text-align: center;
  inset: 0;
  margin: auto;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #1f0d3f;
  justify-content: center;
  position: absolute;
  z-index: 4;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 200px;
  min-height: 100vh;
  min-width: 100vh;
  grid-template-areas:
    "header header ."
    "main main main"
    "footer footer footer";
}

.table-container header {
  grid-area: header;
  display: grid;
  align-items: center;
}

.table-container header .element1 {
  grid-column: 1;
  margin-left: 60px;
}

.table-container header .element2 {
  grid-column: 2;
  justify-self: center;
}

.table-container main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(3, minmax(140px, auto));
  grid-template-rows: repeat(3, minmax(101px, auto));
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-template-areas:
  
    ". top-chairs ."
    "left-chair desk rigth-chair"
    ". botton-chairs .";
  justify-items: center;
}

.table-container main .top-chairs {
  grid-area: top-chairs;
  align-self: center;
}

.table-container main .left-chair {
  grid-area: left-chair;
}

.table-container main .rigth-chair {
  grid-area: rigth-chair;
}

.table-container main .botton-chairs {
  grid-area: botton-chairs;
}

.table-container main .desk {
  grid-area: desk;
  border-radius: 261px;
  box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
  margin: auto;
  border: 2px solid #7443d6;
  width: 603px;
  height: 345px;
}

.table-container footer {
  background-color: rgb(0, 0, 0);
  grid-area: footer;
}

/* .table {
  border-radius: 261px;
  box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
  margin: auto;
} 

.table1 {
  @extend .table;
  border: 1px solid #6429cd;
  width: 521px;
  height: 272px;
  z-index: 1;
} */

/* .table2 {
  @extend .table;
  border: 2px solid #947ae8;
  width: 555px;
  height: 298px;
  z-index: 2;
}

.table3 {
  @extend .table;
  border: 2px solid #7443d6;
  width: 603px;
  height: 345px;
  z-index: 3;
} */

 .container-border__glow {
  border: 1px solid #bb6dff;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
}

.card-title__h3 {
  margin-right: 220px;
  margin-bottom: 0px;
}

.card-button__size {
  margin-top: 25px;
  width: 131px;
  cursor: pointer;
}

.card-button__disabled {
  opacity: 0.5;
  cursor: unset;
}

.card-radioInput {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ba64fd;
  background-color: #331569;
  border-radius: 100%;
  cursor: pointer;
  transition: border-color 0.3s ease;
  position: relative;
  margin-left: 10px;

  &:checked:before {
    content: "";
    width: 50%;
    height: 50%;
    background-color: #ba64fd;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.card-radioInput__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.map-message__position {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: initial;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  z-index: 4;
  align-items: center;
}

.card__blur {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(3px);
  background-color: rgb(0 0 0 / 43%);
  z-index: 3;
}

/* .table {
  border-radius: 261px;
  box-shadow: 0 0 50px 0 #44198a, inset 0 0 10px 0 #44198a;
  position: absolute;
  inset: 0;
  margin: auto;
} */

/* .table1 {
  @extend .table;
  border: 1px solid #6429cd;
  width: 521px;
  height: 272px;
}

.table2 {
  @extend .table;
  border: 2px solid #947ae8;
  width: 555px;
  height: 298px;
}

.table3 {
  @extend .table;
  border: 2px solid #7443d6;
  width: 603px;
  height: 345px;
} */
