.modal {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: center;
  position: absolute;
  inset: 0;
  top: 120px;
  margin: auto;
  align-items: center;

  &-title {
    margin-right: 100px;
    margin-bottom: 0px;
  }

  &-button {
    margin-top: 25px;
    width: 159px;
    cursor: pointer;
  }

  &-button__disabled {
    opacity: 0.5;
    cursor: unset;
  }
}

.logo-title {
  margin-left: 10px;
  margin-top: 53px;
}

.validate-message {
  padding: initial;
  opacity: 0.8;
  color: rgb(255, 255, 255);
}
